@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --primary-color: 255, 212, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* Dark theme colors */
.bg-dark {
  background-color: #000000;
}

.bg-dark-lighter {
  background-color: #121212;
}

.bg-dark-light {
  background-color: #1E1E1E;
}

.text-primary {
  color: #FFD400;
}

.bg-primary {
  background-color: #FFD400;
}

.border-primary {
  border-color: #FFD400;
}